# **Linear Regression Homework**



    Create a linear regression model in which the weight is the dependent model and the rest of the variables are independent (minus the species).

    Measure the quality of your model using the R² score.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("inputs/Fish.csv")
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [8]:
df.info()
# As we can see below there are no missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
Species    159 non-null object
Weight     159 non-null float64
Length1    159 non-null float64
Length2    159 non-null float64
Length3    159 non-null float64
Height     159 non-null float64
Width      159 non-null float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [10]:
X["Species"].unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [23]:
# transform categorical values into integers
from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder()
encoded_species = ordinal_encoder.fit_transform(df[["Species"]])
df["Species"] = encoded_species
df.head()

   Species  Weight  Length1  Length2  Length3   Height   Width
0      0.0   242.0     23.2     25.4     30.0  11.5200  4.0200
1      0.0   290.0     24.0     26.3     31.2  12.4800  4.3056
2      0.0   340.0     23.9     26.5     31.1  12.3778  4.6961
3      0.0   363.0     26.3     29.0     33.5  12.7300  4.4555
4      0.0   430.0     26.5     29.0     34.0  12.4440  5.1340

In [24]:
y = df.iloc[:,1]
X = df.drop("Weight",axis=1,inplace=False)
X

     Species  Length1  Length2  Length3   Height   Width
0        0.0     23.2     25.4     30.0  11.5200  4.0200
1        0.0     24.0     26.3     31.2  12.4800  4.3056
2        0.0     23.9     26.5     31.1  12.3778  4.6961
3        0.0     26.3     29.0     33.5  12.7300  4.4555
4        0.0     26.5     29.0     34.0  12.4440  5.1340
..       ...      ...      ...      ...      ...     ...
154      5.0     11.5     12.2     13.4   2.0904  1.3936
155      5.0     11.7     12.4     13.5   2.4300  1.2690
156      5.0     12.1     13.0     13.8   2.2770  1.2558
157      5.0     13.2     14.3     15.2   2.8728  2.0672
158      5.0     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 6 columns]

In [25]:
# creating the linear regression model
from sklearn.linear_model import LinearRegression

In [26]:
model = LinearRegression()
model.fit(X,y)
r_squared = model.score(X,y)
r_squared

0.894568558740755